---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <ul>
    <li>
      <a href="/static">Static</a>
    </li>
    <li>
      <a href="/on-demand">On Demand</a>
    </li>
    <li>
      <a href="/server-island">Server Island</a>
    </li>
  </ul>
</Layout>
