---
import Layout from "../layouts/Layout.astro";
import SlowComponent from "../components/SlowComponent.astro";
---

<Layout>
  <h1>Server Island</h1>
  <SlowComponent server:defer>
    <div slot="fallback">Loading...</div>
  </SlowComponent>
</Layout>
