---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
  <ul>
    <li>
      <a href="/prerendering">Prerendering</a>
    </li>
    <li>
      <a href="/on-demand">On Demand</a>
    </li>
    <li>
      <a href="/on-demand-server-islands">On Demand + Server Islands</a>
    </li>
    <li>
      <a href="/server-islands">Server Islands</a>
    </li>
  </ul>
</Layout>
