---
import Layout from "../layouts/Layout.astro";
import SlowComponent from "../components/SlowComponent.astro";

export const prerender = false;
---

<Layout>
  <h1>On Demand</h1>
  <SlowComponent />
</Layout>
