---
import Layout from "../layouts/Layout.astro";
import SlowComponent from "../components/SlowComponent.astro";

Astro.response.headers.set("Cache-Control", "public, s-maxage=60");
---

<Layout>
  <h1>Server Islands</h1>
  <SlowComponent server:defer>
    <div slot="fallback">Loading...</div>
  </SlowComponent>
</Layout>
